import U{{properCase name}} from '../src/{{name}}.vue'

export default {
  title: 'U{{properCase name}}',
  component: U{{properCase name}}
}

export const {{properCase name}} = _ => ({
  components: { U{{properCase name}} },
  template: `
    <div>
      <u-{{name}}></u-{{name}}>
    </div>
  `
})
